* {
  padding: 0;
  margin: 0;
}
body {
  min-height: 2000px;
}
div.photo-one {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  background-image: url(../images/qalamo.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
div.photo-two {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  background-image: url(../images/sun.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
div.photo-three {
  width: 100%;
  height: 100vh;
  background-color: lightblue;
  background-image: url(../images/mah.webp);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
